header {
    background: linear-gradient(to left, #8942a8, #ba382f);
    width: 100%;
    .navbar-brand {
        @include styleText($fs-4, $fw-3, $color-white-1);
    }
}

.modal-content {
    width: 150%;
    margin: 0 auto;
}