.collapse {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    height: 90vh;
    padding: 50px 0;
    z-index: 100;
    td, .text-left {
        @include styleText($fs-7, $fw-3, $color-white-1);
    }
}